$padding-inline-app: 15vw;
$height-header: 20vh;
$backgroundAndLetterWhite: #ffffff;
$backgroundDark: rgb(30, 31, 40);
$borderGrey: rgb(234, 237, 241);
$borderRed: rgb(188, 40, 46);
$backgroundBlack: rgb(21, 22, 28);
$marginRight: 20px;
$textGrey: rgb(153, 162, 181);
$mb-p-g20: 20px;
$background: #fafafa;
$foreground: #171717;

$text-primary: #000000;
$text-secondary: #666666;

$button-primary-hover: #383838;
$button-secondary-hover: #0a0a0a;
$button-secondary-border: #0a0a0a;
